<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../static/arquivos/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Gabriel Silva | Portifólio</title>
</head>
<body>

    <i class="bi bi-list menu-ham"></i>

    <aside class="header">
        <section class="profile">
           <img src="../static/arquivos/perfil-pb.png" alt="logo">
           <h1>Gabriel Silva</h1>
           <div class="redes mt-4 text-center">

                <a href="https://www.linkedin.com/in/gabriel-silva-d-ev/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/Gabriel-D-EV" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.youtube.com/c/GabrielDDonquixoteOficial" target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>

                <a href="https://twitter.com/Gabriel_S_Dev" target="_blank">
                  <i class="bi bi-twitter-x"></i>
                </a>
                
           </div>
        </section>

        <nav id="navbar" class="menu hidden">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>  Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person-lines-fill"></i></i>  Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>  Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text"></i>  Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i>  Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-arrow-up"></i>  Contatos</a>
                </li>
              </ul>

        </nav>

    </aside>

    <main class="main">
       
        <section class="row m-0 p-0" id="inicio">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow hidden">Gabriel Silva</h2>
                <span id="subtitle" class="text-white text-shadow">Developer e Gamer</span>
            </div>

            <div id="arraste" class="col-md-7 d-flex justify-content-end align-items-end ">
                <a href="#sobre"><i class="bi bi-arrow-down text-white pe-2 fs-2"></i>  Arraste para mais</a>
            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-4">SOBRE:</h2>
                    <p>Como autodidata, adquiri um forte interesse por tecnologia e tenho me mantido atualizado sobre os avanços tecnológicos mais recentes. Ao longo de minha jornada, concluí o curso: Superior de Tecnologia em Gestão da Tecnologia da Informação na UNISA, que me proporcionou uma base sólida de conhecimentos nas áreas de infraestrutura de TI, segurança da informação, programação e gerenciamento de projetos. Tenho um firme compromisso em aplicar soluções tecnológicas de forma responsável e sustentável.
                    Minha transição de carreira da área da cozinha para a tecnologia demonstra minha determinação, adaptabilidade e vontade de aprender. Trago habilidades
                    valiosas, como trabalho em equipe, resiliência, liderança e capacidade de lidar com situações de alta pressão, desenvolvidas ao longo dos mais de 9 anos de experiência na cozinha.
                    </p>
                </div>

            </div>
            <hr class="border-4">
            <div class="row mt-5">
                <div class="col-md-6 mt-5">
                    <img class="img-fluid shadow foto" src="../static/arquivos/perfil-pb.png" alt="minha foto">
                </div>

                <div class="col-md-6">
                    <h3 class="mt-3">DEV</h3>
                    <p>Realizei cursos de Python, Javascript, HTML+CSS e algoritmo, que me permitiram desenvolver habilidades em programação e lógica, fundamentais para a resolução de problemas complexos. Também concluí cursos de IA (Inteligência Artificial), de como realizar Prompts para chatbots, como o ChatGPT e Midjourney e criei projetos praticos por meio de cursos online e videos no youtube
                    </p>

                    <ul class="list-group list-group-flush fs-5">
                        
                        <li class="list-group-item">Idade: <span class="fw-lighter">30</span></li>
                        <li class="list-group-item">Cidade: <span class="fw-lighter">São Paulo</span></li>
                        <li class="list-group-item">Hobby: <span class="fw-lighter">Aprender coisas aleatorias, Codar, Games: Jogos de FPS (COD e PUBG) e Sobrevivencia(ARK), entre outro, E ler Mangá e assistir uns Animes</span></li>
                        <li class="list-group-item">Freelancers: <span class="fw-lighter">Montagem de PC e criar Programas de Automação</span></li>
                      </ul>

                      <p class="mt-3">Estou empolgado com a perspectiva de mudar de carreira e aplicar minha paixão pela tecnologia e meu conhecimento no departamento de tecnologia. Reconheço que a tecnologia é o futuro e estou comprometido em contribuir para o avanço da minha carreira, aproveitando ao máximo minha formação em Gestão de TI, minha experiência autodidata e meus cursos complementares.</p>
                </div>

            </div>


        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-2">HABILIDADES:</h2>
            
                <div class="row hidden">

                    <div class="col-md-6">
                      <h2 class="pt-5" >Hard Skills</h2>
                      <h3 class="h3-skill">Front-End</h3>

                      <div class="skill-set">
                        <img src="../static/arquivos/html.png" alt="html">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/css.png" alt="css">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/js.png" alt="js">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/react.png" alt="react">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/bootstrap.png" alt="bootstrap">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/figma.png" alt="figma">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/photoshop.png" alt="ps">
                      </div>
                       

                      <h3 class="h3-skill">Back-End</h3>

                      <div class="skill-set">
                        <img src="../static/arquivos/python.png" alt="py">
                      </div>
                      
                      <div class="skill-set">
                        <img src="../static/arquivos/flask.png" alt="flask">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/tkinter.png" alt="tkinter">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/pandas.png" alt="pandas">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/node.png" alt="node.js">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/ex.png" alt="express">
                      </div>
                       
                      <div class="skill-set">
                        <img src="../static/arquivos/mdb.png" alt="mongodb">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/sqlite3.png" alt="sqlite3">
                      </div>

                      <div class="skill-set">
                        <img src="../static/arquivos/gpt.png" alt="chatgpt">
                      </div>


                    </div>


                    <div class="col-md-6 s-skills">
                      <h2 class="pt-5" >Soft Skills</h2>
                        
                      <ul class="ss-li">
                        <li>Trabalho em equipe</li>
                        <li>Gerenciamento de tempo</li>
                        <li>Pensamento critico</li>
                        <li>Aprendizado rapido</li>
                        <li>Liderança</li>
                        <li>Organização</li>
                        <li>Comunicação</li>
                        <li>Criatividade</li>
                        <li>Inteligência emocional</li>
                        <li>Flexibilidade cognitiva</li>
                        <li>Tomada de decisão</li>
                      </ul>
                        
                    </div>

                


                   

                </div>

                

               

            </div>

        </section>

        <section class="mt-5 cv hidden p-4" id="curriculo">

            <div class="container pb-5">

                <h2 class="pt-3 pb-5">CURRÍCULO:</h2>

                <div class="row">

                    <div class="col-md-6 hidden">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Superior de Tecnologia em Gestão de T.I.</h4>
                            <h5>2020 - 2022</h5>
                            <p><em>UNISA</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam et impedit ex perferendis soluta quisquam eveniet quasi quae provident quo necessitatib</p>
                        </div>

                        <div class="cv-item">
                            <h4>Informática Avançada - 160H</h4>
                            <h5>2023</h5>
                            <p><em>ESCON Escola de Cursos Online</em></p>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consequuntur, quod maxime ipsam culpa quo ipsum quisquam? Blanditiis numquam accusantium aperia</p>
                        </div>

                        <div class="cv-item">
                            <h4>Python 3 - 120H</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>Curso em Video</em></p>
                            <p>Mundo1: Fundamentos e historia do python. Mundo2: Estruturas de repetição e controle. Mundo3: Variáveis compostas, modularização, funções e tratamento de Erro</p>
                        </div>

                        <div class="cv-item">
                            <h4>HTML5 + CSS3 [VIP] - 160H</h4>
                            <h5>2023</h5>
                            <p><em>Curso em Video</em></p>
                            <p>Módulo1: Introdução, semântica em HTML, listas, links, mídia e estilos em CSS. Módulo2: Representação e harmonização das cores, tipografia, fontes, alinhamentos, CSS Id, Class, pseudo-class, pseudo-element. Módulo3: Git e GitHub, básico em manipulação de repositórios no GitHub,  Projeto usando HTML e CSS, hospedando o Site no GitHub. Módulo4: Iframes, formulários, Media Queries, Mobile First</p>
                        </div>

                    </div>

                    <div class="col-md-6 hidden">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Montagem de Pc e Atualizações</h4>
                            <h5>2023 - Atual</h5>
                            <p><em>GBH Technology</em></p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae ducimus voluptatem numquam ab corporis ut similique, rem maiores. Dicta optio, officiis aspernatur natus est facilis rerum minus! Soluta, cumque nemo.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Freelancers</h4>
                            <h5>2023 - Atual</h5>
                            <p><em></em></p>
                            <p>Meu trabalho aqui é criar projetos para automação usando Python, para facilitar a tarefa do cliente</p>
                        </div>

                        <div class="cv-item">
                            <h4>Aux. Cozinha/Cozinheiro</h4>
                            <h5>2020 - Atual</h5>
                            <p><em>Sociação Beneficiente De Interlagos (SOBEI)</em></p>
                            <p>Ajudante De cozinha (preparos de alimentos, limpeza geral de utensílios, estoquista) e Cozinheiro              </p>
                        </div>  

                        
                    </div>

                    <p>
                      Click <a href="../static/arquivos/Gabriel CV.pdf" download="../static/arquivos/Gabriel CV.pdf"><strong>AQUI</strong></a> para baixar meu currículo completo

                    </p>
                    
                </div>

            </div>

        </section>

        <section class="mt-5 section-bg p-4" id="portifolio">
            <div class="container pt-5 pb-5">

                <h2 class="pb-4">PORTIFÓLIO:</h2>

                <div id="carousel" class="carousel slide">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    
                  </div>
                  <div class="carousel-inner hidden p-3">
                    <div class="carousel-item active">
                      
                      <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/cad_inv-img.png" class="card-img-top" alt="cadastro">
                            <div class="card-body">
                              <h5 class="card-title">Cadastro de Inventario</h5>
                              <p class="card-text">App de Inventario para catalogar suas coisas, salvando imagem e marcando quantidade e total de valor. <br> Tecnologias usadas: Python, TKInter e SQLite3.</p>
                            </div>
                            <div class="link">
                              <a href="https://github.com/Gabriel-D-EV/cad_inventario" target="_blank"><i class="bi bi-github"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/orcamentos.png" class="card-img-top" alt="app-orcamento">
                            <div class="card-body">
                              <h5 class="card-title">Orçamentos para Projetos</h5>
                              <p class="card-text">App de orçamentos para projetos simples, (está em finalização da tela). <br> Tecnologias usadas: Python, CustomTKInter, TKInter, FPDF e SQLite3.</p>
                              
                            </div>
                            <div class="link">
                              <a href="https://github.com/Gabriel-D-EV/CriarOrcamento" target="_blank"><i class="bi bi-github"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/login.png" class="card-img-top" alt="login">
                            <div class="card-body">
                              <h5 class="card-title">Login</h5>
                              <p class="card-text">Projeto Login do Curso em Video. <br> Tecnologias usadas: HTML5 e CSS3</p>
                              
                            </div>
                            <div class="link">
                              <a href="https://github.com/Gabriel-D-EV/login" target="_blank"><i class="bi bi-github"></i></a>
                              <a class="link" href="https://gabriel-d-ev.github.io/login/"><i class="bi bi-cursor"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="carousel-item">
                      
                      <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/projeto-redes.png" class="card-img-top" alt="Projeto redes">
                            <div class="card-body">
                              <h5 class="card-title">Projeto Redes</h5>
                              <p class="card-text">Projeto final do Curso em Video, abordando Media Queries, site tipo portifólio. <br> Tecnologias usadas: HTML5 e CSS3</p>
                              
                            </div>
                            <div class="link">
                              <a href="https://github.com/Gabriel-D-EV/Projeto_rede" target="_blank"><i class="bi bi-github"></i></a>
                              <a class="link" href="https://gabriel-d-ev.github.io/Projeto_rede/"><i class="bi bi-cursor"></i></a>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/breve.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Em Breve</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col">
                          <div class="card">
                            <img src="../static/arquivos/organizador.png" class="card-img-top" alt="organizador de pasta">
                            <div class="card-body">
                              <h5 class="card-title">Organizador de Arquivos</h5>
                              <p class="card-text">App para organização de do desktop, para aquelas pessoas que não organizam os arquivos em pasta. <br> Tecnologias usadas: Python, CustomTKInter, TKInter e OS</p>
                           
                            </div>
                            <div class="link">
                              <a href="https://github.com/Gabriel-D-EV/org_pasta" target="_blank"><i class="bi bi-github"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>        
                  
            
            </div>
        </section>

        <section class="mt-5 pb-5" id="contato">
          <div class="container mb-5">
            <h2 class="pt-3 pb-3">CONTATO:</h2>

              <div class="row">

                  <div class="col-md-5 mt-3">
                    
                    <div class="card p-5 shadow border-0">
                      <div class="endereco">
                        <h4><i class="bi bi-geo-alt-fill"> Localização</i></h4>
                        <p>São Paulo - SP</p>
                      </div>

                      <div class="email">
                        <h4><i class="bi bi-envelope-at"></i> Email: </h4>
                        <p>gabriel.silva_dev@outlook.com</p>
                      </div>

                      <div class="discord">
                        <h4><i class="bi bi-discord"></i> Discord: </h4>
                        <p>Gabriel_Silva#9022</p>
                      </div>

                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10858.162738472474!2d-46.73731833349533!3d-23.828060657043626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce497e741506c3%3A0xb6a84bae7003c6b9!2sParelheiros%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1700518649870!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                    </div>

                  </div>

                  <div class="col-md-7 mt-3">
                    <div class="card  p-5 h-100 shadow border-0">

                      <form class="row g-3" action="/send" method="POST">
                        <div class="col-md-6">
                          <label for="nome" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome" required>
                        </div>
                        <div class="col-md-6">
                          <label for="email" class="form-label">E-Mail</label>
                          <input type="email" class="form-control" id="email" placeholder="Digite seu E-Mail" name="email" required>
                        </div>
                        <div class="col-12">
                          <label for="mensagem" class="form-label">Mensagem</label>
                          <textarea type="text" class="form-control" id="mensagem" placeholder="digite sua mensagem" name="mensagem" rows="8" required></textarea>
                        </div>
                        
                        <div class="col-12">
                          <button id="btn-" type="submit" class="btn btn-primary mt-4">  Enviar Mensagem  </button>

                          <button id="btn-loading" class="btn btn-primary mt-4" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status"> Enviando...</span>
                          </button>

                        </div>

                        

                      </form>

                    </div>

                  </div>

                </div>

          </div>
        </section>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle-fill"></i> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
          
        {% endfor %}
        {% endif %}
        {% endwith %}
        
    </main>

    <footer id="footer">
      <div class="container">
        <div class="text-center">
          
          &copy; Copyright <strong>Gabriel Dev</strong>
        </div>
      </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>

</body>
</html>