@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cor-bk2: #20083698;
    --cor-bk: #200836;
    --cor-gr: #808080;
    --cor-pp: #49007e;
    --cor-pk: #ff005b;
    --cor-og: #ff7d10;
    --cor-bg: #ffb238;
    --cor-01: #141414;
    --cor-00: #000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
}

section#habilidades ul li{
    font-size: 1.7rem;
    margin-top: 15px;
}

h2 {
    margin-bottom: 40px;
    font-size: 2em;
}

.subhead {
    padding-top: 2px;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.flex {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    display: block;
    width: 100%;
    padding: 60px, 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #00000000,var(--cor-bk2), var(--cor-bk), var(--cor-pp));
    height: 30vh;
    transition: .4s;
    z-index: 99;
}

header img {
    height: 80px;
    width: 80px;
    transition: .5s;
}

header i {
    padding: 10px;
    margin-right: 20px;
    font-size: 25px;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: .5s;
    display: inline-flex;
    cursor: pointer;
}

header i:hover {
    color: var(--cor-00);
    background-color: var(--cor-pk);
    transform: scale(1.4, 1.4);
}

.nav-link {
    position: relative;
}

header ul li a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--cor-pk);
    position: absolute;
    right: 0;
    bottom: 0;
    transition:.4s;
}

header ul li a:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: .5s;
}



header h1 {
    padding: 30px;
    font-size: 2rem;
    color: white;
    transition: .5s;
    display: none;
}

.nav li{
    padding: 5px;
    display: inline-block;
    margin: 0 10px;
    transition: .3s;
    position: relative;
    padding-block: 16px;
}

.nav li a {
    color: #fff;
    transition: .3s ease-out;
}

.nav li a:hover {
    color: #fff;
    transform: scale(1.3, 1.3);
}

.newheader {
    position: fixed;
    background-image: linear-gradient(to top,#00000000, var(--cor-bk2),var(--cor-bk), var(--cor-00));
    height: 12vh;
}

.newheader i {
    display: none;
}

.newheader img {
    display: none;
}

.newheader .main {
    top: 80px;
}

.newheader h1 {
    display: block;
}

.main {
    top: 20vh;
    background-color: var(--cor-00);
    
}


section#inicio {
    background-image: url(../static/arquivos/bg-ini.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: all ease-in-out 0.5s;
}

section#inicio h2 {
    font-size: 6rem;
    margin-left: 1rem;
    text-align: center;
}

section#inicio span#subtitle {
    margin-right: 8rem;
    font-size: 1rem;

}

.text-shadow {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.397);
}

section#inicio div#arraste {
    width: 15rem;
}

.txt-animado {
    font-weight: 300;

}

.txt-animado span {
    position: relative;
}

.txt-animado span::before {
    content: "";
    color: var(--cor-pk);
    animation: palavras 20s infinite;
    font-size: 2em;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--cor-pk);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(20) infinite;
    width: calc(100% + 15px);
    background-color: #020202;

}

@keyframes digita {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 15px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #020202;
    }
}

@keyframes palavras {
    0%,20% {
        content: "Developer Fullstack";
    }
    21%,40%{
        content: "Developer Back-End";
    }
    41%,60%{
        content: "< > Bora Codar </> "
    }
    61%,80% {
        content: "Gamer e Streamer";
    }
    81%,100% {
        content: "Me segue nas Redes";
    }
}

section#inicio div#arraste a {
    text-decoration: none;
    color: white;
}

.hamb {
    width: 30px;
    height: 3px;
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    position: relative;
}

.hamb::before,
.hamb::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: .4s ease-in-out;
}

/*
MediaQueries

tela pequena: 600px
celular: 768px
tablet: 992px
pc: 1200px
tv: 1200px+

*/

@media (max-width: 900px) {

    header {
        background: none;
        box-shadow: none;
    }

    body {
        overflow-x: hidden;
        overflow: auto;
        margin: 0;
    }

    section#inicio {
        background-image: url(../static/arquivos/bg-mobile.png);
        
    }

    header img {
        display: none;
    }

    header i {
        display: none;
    }
    
    .newheader h1 {
        display: none;
    }

    .newheader {
        background: none;
    }

    .nav a {
        color: #fff;
    }

    .nav a:hover {
        color: #fff;
    }

    .hamb {
        position: fixed;
        display: block;
        z-index: 1;
        top: 10px;
        right: 10px;
    }   

    .nav-list {
        font-size: 1.4rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 85vw;
        height: 100vh;
        border-radius: 0 20px 20px 0;
        border: 5px double var(--cor-pk);
        background-image: linear-gradient(to top, var(--cor-00), var(--cor-00), var(--cor-bk), var(--cor-pp));
        display: flex;
        clip-path: circle(80px at 120% -12%);
        transition: .5s all ease-in-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    section#inicio h2 {
        font-size: 3rem;
        text-align: center;
    }
    
    section#inicio span#subtitle {
        font-size: .8rem;
        margin-right: 0;
    
    }

    .skill-set img {
        transform: scale(1, 1);
        z-index: -1;
    }

}
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    width: 8px;
    box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.342);
    background-color: var(--cor-00);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-bk);
}

.section-bg {
    background-image: url(../static/arquivos/triom.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
   
}

.cv {
    color: white;
}
 
#sobre{
    color: white;
}

#sobre p{
    letter-spacing: 1.2px;
    line-height: 25px;
    text-align: center;
}

#sobre img {
    border-radius: 50%;
    border: 15px double var(--cor-bg);
    animation: mover 3s infinite;
    margin: 20px;
}

@keyframes mover {
    0% {
        transform: translate(-65px, -65px);
    }
    25% {
        transform: translate(25px, -65px);
    }
    50% {
        transform: translate(25px, 25px);
    }
    75% {
        transform: translate(-65px, 25px);
    }
    100% {
        transform: translate(-65px, -65px);
    }
}
  
  


.list-group-item {
    color: white;
}

#contato {
    color: white;
}

.cv .cv-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.cv .cv-item {
    padding: 0 0 20px 20px;
    border-left: 3px solid var(--cor-pk);
    position: relative;
}

.cv .cv-item h4 {
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.cv .cv-item h5 {
    background-image: linear-gradient(to right, var(--cor-gr) ,var(--cor-pk));
    color: white;
    padding: 5px 15px;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.cv .cv-item::before {
    content: "";
    position: absolute;
    border: 3px solid var(--cor-pk);
    background: white;
    top: 0;
    left: -11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.carousel-control-prev {
    
    margin-left: -180px;
}

.carousel-control-next {
    
    margin-right: -180px;
}

.carousel-indicators {
    margin-bottom: -45px;
}

@media (max-width: 1200px) {
    
    .carousel-control-prev {
    
        margin-left: -60px;
    }
    
    .carousel-control-next {
        
        margin-right: -60px;
    }
}

/*
animações
*/

.hidden {
    opacity: 0;
    filter:opacity(0);
    transition: 1.5s all ease;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: opacity(1);
    transition: 1s all ease;
    transform: translateX(0);
}

#btn-loading {
    display: none;
    border: none;
    padding: 6px;
    text-decoration: none;
    color: white;
    background: var(--cor-pp);
    border-radius: 5px;
    transition: all .1s ease-in-out;
}

#alerta {
    position: fixed;
    z-index: 999;
    top: 30px;
    left: 30px;
}

#footer {
    padding: 10px;
    color: white;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--cor-01);
    transition: all ease-in-out 0.3s;
    
}

footer i {
    display: inline-flex;
    font-size: 1.4rem;
    color: white;
    padding: 0.4rem;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
}

footer i:hover {
    color: var(--cor-00);
    transform: scale(1.2, 1.2);
    background-color: var(--cor-pk);
}

@media (max-width: 1100px) {
    #footer{
        position: static;
        width: auto;
        padding: 7px 10px ;
       
    }
}

.card {
    height: 550px;
    width: auto;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.568);
    border: 5px ridge var(--cor-00);
    background-color: var(--cor-01);
    color: #fff;
}

#projetos .card:hover {
    transform: scale(1.06, 1.06);
}

.card a i {
    color: #fff;
}

.list-group-item {
    background-color: rgba(77, 77, 77, 0);
}

.ss-li {
    font-size: 1.4em;
    font-weight: bold;
}

div .link {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.botao-cv a{
    text-decoration: none;
    color: white;
}

.btn {
    border: none;
    padding: 6px;
    text-decoration: none;
    color: white;
    background: var(--cor-pp);
    border-radius: 5px;
    transition: all .1s ease-in-out;
}
.btn:hover{
    border: none;
    background: var(--cor-pk);
    transform: scale(1.1, 1.1);
}

.skill-set {
    transform: scale(1.6, 1.6);
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin: 50px;
    align-items: center;
    margin-bottom: 10px;
    transition: .5s;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.438);
    
}

.skill-set:after {
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    align-items: center;
    margin-bottom: 10px;
    transition: .5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);
    z-index: -1;
}

.h3-skill {
    padding: 20px;
    
}

.skill-set:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.438);
    animation: mover-skill 1s infinite;
    transition: 1s;
    z-index: 99;
}

@keyframes mover-skill {
    
    0% {
      transform: matrix(2, 0, 0, 2, 0, 0);
    }
    25% {
      transform: matrix(2, 0, 0, 2, 25, 0);
    }
    50% {
      transform: matrix(2, 0, 0, 2, 25, 25);
    }
    75% {
      transform: matrix(2, 0, 0, 2, 0, 25);
    }
    100% {
      transform: matrix(2, 0, 0, 2, 0, 0);
    }
  }


.skill-set img {
    text-align: center;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);
    border: 6px double var(--cor-pk);
    transition: .5s;
}

.ss-li li {
    transition: .4s;
}

.ss-li li:hover {
    color: var(--cor-pk);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.gab {
    text-decoration: none;
    color: var(--cor-pk);
}

.form-control {
    background-color: var(--cor-01);
    border: 2px solid var(--cor-pp);
}

.txt-b2 {
    background-color: var(--cor-01);
    padding: 10px;
    border: 2px solid var(--cor-pp);
    border-radius: 20px;
    box-shadow: 10px 10px 15px #00000079;
    transition: .5s all ease-in-out;
}

.txt-b2:hover {
    transform: scale(1.2, 1.2);
}